@font-face {
    font-family: "FSJoey-Bold";
    src: url("FSJoey-Bold.ttf") format('truetype');
}
@font-face {
    font-family: "FSJoey-Heavy";
    src: url("FSJoey-Heavy.ttf") format('truetype');
}
@font-face {
    font-family: "FSJoey-Medium";
    src: url("FSJoey-Medium.ttf") format('truetype');
}
@font-face {
    font-family: "FSJoey-Regular";
    src: url("FSJoey-Regular.ttf") format('truetype');
}


@font-face {
    font-family: "Barlow-Black";
    src: url("Barlow-Black.ttf") format('truetype');
}
@font-face {
    font-family: "Barlow-Bold";
    src: url("Barlow-Bold.ttf") format('truetype');
}
@font-face {
    font-family: "Barlow-Light";
    src: url("Barlow-Light.ttf") format('truetype');
}
@font-face {
    font-family: "Barlow-Medium";
    src: url("Barlow-Medium.ttf") format('truetype');
}
@font-face {
    font-family: "Barlow-Regular";
    src: url("Barlow-Regular.ttf") format('truetype');
}
@font-face {
    font-family: "Barlow-SemiBold";
    src: url("Barlow-SemiBold.ttf") format('truetype');
}