.ms-boxes-container{
    position: relative;
    width: 100%;
    margin: 0px;
    padding: 0px;
    display: block;
}
.ms-box-row{
    position: relative;
    width: 100%;
    height: auto;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
}

.ms-box-col{
    position: relative;
    width: 160px;
    height: 150px;
    border-radius: 8px;
    border: 1px solid rgba(29, 66, 138, 1);
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 15px;
    margin: 10px 10px;
    background-color: rgba(29, 66, 138, 0);
    box-shadow: 2px 2px 8px 0px rgba(29, 66, 138, 0.16);
    text-decoration: none;

    transition: background-color 0.2s, box-shadow 0.2s, -moz-box-shadow 0.2s, -webkit-box-shadow 0.2s, -o-box-shadow 0.2s, top 0.2s, left 0.2s, border 0.2s;
    -webkit-transition: background-color 0.2s, box-shadow 0.2s, -moz-box-shadow 0.2s, -webkit-box-shadow 0.2s, -o-box-shadow 0.2s, top 0.2s, left 0.2s, border 0.2s;
}
.ms-box-col:hover{
    cursor: pointer;
    background-color: rgba(29, 66, 138, 0.1);
    box-shadow: 2px 2px 8px 0px rgba(29, 66, 138, 0.3);
    border: 2px solid rgba(29, 66, 138, 1);
}

.ms-box-col div{
    position: relative;
    width: auto;
    height: auto;
}
.ms-box-col section{
    position: relative;
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.ms-box-col section:first-child{
    align-items: center;
}
.ms-box-col section:last-child{
    align-items: center;
}

.ms-box-col div h1{
    margin: 5px 0px;
    padding: 0px;

    font-family: 'FSJoey-Bold';
    font-size: 24px;
    color: #0033A0;
    font-weight: normal;
    line-height: normal;
    text-align: center;
}

.ms-box-col section h1{
    margin: 2px 0px;
    padding: 0px;
    display: block;
    width: 100%;

    font-family: 'FSJoey-Bold';
    font-size: 24px;
    color: #0033A0;
    font-weight: normal;
    line-height: normal;
    text-align: center;
}
.ms-box-col section i{
    font-size: 34px;
    color: #0033A0;
    text-align: center;
}